<h1 class="display-4 text-center">Les derniers potins en date</h1><br/>
<div class="card-columns">
  <% Gossip.all.each do |gossip| %>
    <div class="card bg-light p-3">
      <blockquote class="blockquote mb-0 card-body">
        <p><%= link_to gossip.title, gossip_path(gossip.id) %></p>
        <footer class="blockquote-footer">
          <small class="text-muted">
            <%= gossip.user.first_name %>
          </small>
        </footer>
      </blockquote>
    </div>
  <% end %>
</div>